*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:
linear-gradient(
135deg,
#050816,
#0F172A,
#111827
);

color:white;
}

.container{
    margin-left:280px;
    padding:40px;
    min-height:100vh;
}

.page-header{

margin-bottom:50px;
}

.page-header h1{

font-size:3rem;
}

.page-header p{

color:#94a3b8;
}

.stats{

margin-bottom:50px;
}

.stat-card{

background:
rgba(255,255,255,.05);

padding:30px;

border-radius:20px;

width:300px;
}

.stat-card h2{

font-size:2.5rem;

color:#f59e0b;
}

.section-title{

margin-bottom:30px;
}

.certificate-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(350px,1fr));

gap:25px;
}

.certificate-card{

background:
rgba(255,255,255,.05);

padding:25px;

border-radius:20px;

transition:.3s;
}

.certificate-card:hover{

transform:
translateY(-8px);
}

.issuer{

color:#06b6d4;

font-weight:700;

margin-bottom:10px;
}

.year{

color:#f59e0b;

margin-top:10px;
}

.certificate-links{

margin-top:20px;
}

.certificate-links a{

color:#06b6d4;

text-decoration:none;
}
.page-header{

    margin-bottom:40px;

}
