<div class="sidebar">

<div class="profile-section">

    <img
    src="../assets/images/profile/profile.jpg"
    class="sidebar-profile">

    <h3>Sudipto Bairagi</h3>

    <p>AI • ML • VR •Research</p>

</div>

<nav>

    <a href="../index.html">
        <i class="fas fa-home"></i>
        Dashboard
    </a>

    <a href="academics.html">
        <i class="fas fa-graduation-cap"></i>
        Academics
    </a>

    <a href="portfolio.html">
        <i class="fas fa-briefcase"></i>
        Portfolio
    </a>

    <a href="achievements.html">
        <i class="fas fa-trophy"></i>
        Achievements
    </a>

    <a href="certificates.html">
        <i class="fas fa-certificate"></i>
        Certificates
    </a>

    <a href="insights.html">
        <i class="fas fa-chart-line"></i>
        Insights
    </a>

    <a href="contact.html">
        <i class="fas fa-envelope"></i>
        Contact
    </a>

</nav>

</div>
